@keyframes progressBar {
  from { width: 0%; }
  to { width: 100%; }
}
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0c0c0c; /* Глубокий черный, менее контрастный */
  color: #d1d1d1; /* Светло-серый вместо чисто белого */
  font-variation-settings: 'opsz' 120; 
  font-weight: 300; /* Делаем шрифт тоньше (Light) */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}